{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.order.order_list' | trans }}{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'admin.order.customer_name' | trans }}</th>
            <th>{{ 'shopping_cart.email' | trans }}</th>
            <th>{{ 'shopping_cart.address' | trans }}</th>
            <th>{{ 'admin.order.payment_status' | trans }}</th>
            <th>{{ 'Total' | trans }}</th>
            <th>{{ 'Date' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.firstName ~ ' ' ~ order.lastName }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.paymentStatusMapped }}</td>
                <td>{{ order.total }} {{ order.currency.name }}</td>
                <td>{{ order.createdAt | date('H:i:s d-m-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}