{% extends 'site/base.html.twig' %}

{% block title %}{{ 'Contact' | trans }}{% endblock %}

{% block body %}
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">{{ 'contact.contact_us' | trans }}</h1>
            <p>
                Proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>

    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" role="form">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="name">{{ 'contact.name' | trans }}</label>
                        <input type="text" class="form-control mt-1" id="name" name="name"
                               placeholder="{{ 'contact.name' | trans }}">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="email">{{ 'contact.email' | trans }}</label>
                        <input type="email" class="form-control mt-1" id="email" name="email"
                               placeholder="{{ 'contact.email' | trans }}">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="subject">{{ 'contact.subject' | trans }}</label>
                    <input type="text" class="form-control mt-1" id="subject" name="subject"
                           placeholder="{{ 'contact.subject' | trans }}">
                </div>
                <div class="mb-3">
                    <label for="message">{{ 'contact.message' | trans }}</label>
                    <textarea class="form-control mt-1" id="message" name="message"
                              placeholder="{{ 'contact.message' | trans }}" rows="8"></textarea>
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">
                            {{ 'contact.contact_us' | trans }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}