<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('media/img/favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ path('admin') }}">Wristwatch Store admin</a>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{{ path('app_logout') }}">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">
                                <i class="fa fa-home feather"></i>
                                Site
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('order_list') }}">
                                <i class="fa fa-file feather"></i>
                                {{ 'admin.product.orders' | trans }}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_product_list') }}">
                                <i class="fa fa-list feather"></i>
                                {{ 'admin.product.product_list' | trans }}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('product_add') }}">
                                <i class="fa fa-plus feather"></i>
                                {{ 'admin.product.add_product' | trans }}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{ block('title') }}</h1>
                </div>

                {% block body %}{% endblock %}
            </main>
        </div>
    </div>
    </body>
</html>
